* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.corpo {
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: 67% 33%;
  grid-template-rows: repeat(5, 0.1fr);
  grid-template-areas:
    "nav nav"
    "header header"
    "accommodations laterale"
    "activities activities"
    "footer footer";
}
/*Nav Bar*/
nav {
  grid-area: nav;
  margin: 15px 40px;
}
nav img {
  float: left;
  padding-top: 20px;
}
nav ul {
  float: right;
}
nav ul li {
  float: left;
  list-style-type: none;
  padding: 35px 11px 12px 11px;
  margin-left: 50px;
  font-weight: 500;
  border-top: white solid 1px;
}
.sign-up a {
  color: #1e90ff;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
.intestazioneACCMenu {
  color: #1e90ff;
  border-top: #0065fc solid 1px;
}
header {
  grid-area: header;
  margin: 15px 40px;
  order: 2;
}
header h6 {
  font-size: small;
  line-height: 3;
  opacity: 60%;
}
/*Search Bar*/
form {
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
}
.placeholder::-webkit-input-placeholder{
    font-weight: 800;
    color:black;
}
form > input,
form i:first-child {
  border: #ececec solid 1px;
  padding: 13px;
  outline: none;
}
form > i:first-child {
  background-color: #ececec;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
}
form i:last-child {
  display: none;
}

form input:nth-child(3) {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700;
  border: none;
}

.filter-sezione {
  margin: 30px 0px;
}
.filter-sezione h3 {
  margin: auto 0;
  display: inline;
}
.filter-sezione-bottone {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0 0 30px;
}

.filter-bottoni {
  border: 2px solid #ddd;
  border-radius: 40px;
  outline: none;
  background-color: white;
  transition: background-color, transform 0.5s ease-in-out;
  height: 45px;
  position: relative;
}
.filter-bottoni:hover {
  background-color: #1e90ff;
  transform: scale(1.15);
}
.filter-sezione i {
  padding: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: #deebff;
  color: #0065fc;
  position: absolute;
  left: -10px;
  top: -1px;
}
.filter-sezione span {
  padding: 0px 15px 0 51px;
  font-weight: bold;
  font-size: larger;
}

.info i {
  background-color: white;
  color: #0065fc;
  border: #deebff solid 2px;
  border-radius: 50%;
  padding: 5px 10px;
}
.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info span:nth-child(2){
    font-weight:500;
}

.accommodations {
  width: 90%;
  height: fit-content;
  margin-left: 40px;
  background-color: #ececec;
  border-radius: 20px;
  grid-area: accommodations;
}
.titolo-sezione {
  margin: 30px 0 20px 30px;
  font-weight: 700;
}
.empty{
    color: #ccc;
}
.titolo-sezione-laterale {
  width: 85%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.titolo-sezione i {
  float: right;
  font-size: x-large;
}
laterale {
  margin-right: 40px;
  background-color: #ececec;
  border-radius: 20px;
  grid-area: laterale;
}
.price__2{
    display: none;
}
.sezione-laterale {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}

.activities {
  margin: 15px 40px;
  grid-area: activities;
}
.activities h3{
  margin-left: 0;
}
footer {
  background-color: #ececec;
  grid-area: footer;
  display: flex;
  margin-top: 40px;
}

.scheda {
  width: 29.9%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  transition: box-shadow 0.5s ease-in-out;
}
.scheda img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 3px;
}
.scheda-accommodations {
  padding: 0px 0px 0px 15px;
  line-height: 1.5;
}
.laterale-descrizione {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
  justify-content: space-around;
}

.stars {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}
.sezione {
  margin: 0 25px 40px 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}
.altri-elementi {
  margin: 0px 0 40px 30px;
}
.scheda-laterale {
  height: 140px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  border: white solid 3px;
  transition: box-shadow 0.5s ease-in-out;
}
.scheda-laterale:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.scheda-laterale img {
  width: 40%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sezione-activities {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 4%;
  GRID-ROW-GAP: 25PX;
  grid-template-areas:
    "attivita1 attivita2 attivita4 attivita5"
    "attivita1 attivita3 attivita4 attivita6";
}
.scheda-activities {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease-in-out;
}
.scheda-activities a img {
  width: 100%;
  height: 88%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.scheda-ridotta {
  height: 30vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease-in-out;
}
.scheda-ridotta img {
  width: 100%;
  height: 75%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.activities-descrizione {
  padding: 10px 16px;
}
.contenuto-footer {
  width: 30%;
  padding: 30px;
  line-height: 2;
  margin: 10px 0 13px 15px;
}
.attivita1 {
  grid-area: attivita1;
}
.attivita2 {
  grid-area: attivita2;
}
.attivita3 {
  grid-area: attivita3;
}
.attivita4 {
  grid-area: attivita4;
}
.attivita5 {
  grid-area: attivita5;
}
.attivita6 {
  grid-area: attivita6;
}

.checked {
  color: cornflowerblue;
}
.titolo-sezione-3 {
  margin: 15px 0 22px 20px;
  font-weight: 700;
}
.scheda:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.scheda-activities:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.scheda-ridotta:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 767px) {
  .corpo {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    order: 6;
    margin-top: 25px;
    padding-bottom: 30px;
  }

  .titolo-sezione-laterale{
    margin-left: 15px;
    width: 92%;
  }
  laterale {
    order: 3;
    border-radius: 0px;
    margin: 0;
  }
  .sezione-laterale {
    margin: 0px 20px 40px 20px;
    gap: 15px;
  }
  .scheda-laterale {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
    
  }
}
@media only screen and (max-width: 767px) {
  .activities {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 40px;
    order: 5;
  }
  .activities h3{
    margin: 0 0 0 20px;
    font-size: 20px;
  }
  .sezione-activities {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    gap: 25px;
  }
  .scheda-activities {
    height: 30vh;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
  }
  .scheda-activities a img {
    height: 75%;
  }
  .scheda-ridotta {
    box-shadow:0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  }
}
@media only screen and (max-width: 767px) {
  .accommodations {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0px;
    background-color: #fff;
    order: 4;
  }
  .accommodations h3 {
      font-size: 20px;
      margin-left: 20px;
  }
  .sezione {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    GAP: 15px;
  }
  .scheda {
    width: 100%;
    margin: 0px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  }
  .titolo-sezione {
    font-size: large;
  }
  .altri-elementi{
    margin: 30px 0 0px 20px;
  }
}
@media only screen and (max-width: 767px) {
  nav {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    position: relative;
    height: 120px;
  }
  header {
    margin: 30px 15px;
  }
  .prezzo{
      display: none;
  }
  .stars{
      margin-top: 5px;
  }
  header h3{
    font-size: 23px;
  }
  header h6{
    font-size: 16px;
    font-weight: 500;
    opacity: 80%;
  }
  .filter-sezione h3{
      font-size: large;
  }
  .filter-sezione-bottone {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 0px;
  }
  .contenuto-footer {
    width: fit-content;
    padding: 0px 0 0 0px;
    margin: 30px 0 0px 20px;
  }

  .intestazioneACCMenu,
  .intestazioneACTMenu {
    width: 50%;
    margin: 0px;
    text-align: center;
    bottom: 0px;
    position: absolute;
  }
  .intestazioneACTMenu {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    right: 0px;
  }
  .intestazioneACCMenu {
    border-bottom-color: #0065fc;
    border-bottom-style: solid;
    border-top-style: none;
    color: #1e90ff;
    left: 0px;
  }
  nav img {
    position: absolute;
    top: 5px;
    left: 10px;
    padding-top: 0px;
  }
  form i:last-child {
    display: inline;
    padding: 13px;
    background-color: #0065fc;
    margin-left: -10px;
    color: white;
    border-radius: 10px;
  }
  form input:nth-child(3) {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1211px) {
  .accommodations {
    height: fit-content;
    order: 4;
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
  }
  .filter-sezione-bottone {
    display: flex;
    margin: 10px 0 0 10px;
  }
  nav{
      margin: 15px;
  }
  header{
      margin: 15px;
  }
  laterale {
    order: 3;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
  }
  .sezione-laterale {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 10px 15px 10px;
  }
  .titolo-sezione-laterale {
    width: 95%;
  }
  .titolo-sezione {
    margin: 15px 0px 15px 20px;
  }
  .laterale-descrizione {
    font-size: smaller;
  }
  .scheda-laterale {
    width: 30%;
    height: 107px;
    margin: 5px 0px 10px 9px;
    box-shadow: none;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .corpo {
    display: flex;
    flex-direction: column;
  }
  .activities {
    order: 5;
    margin-left: 15px;
    margin-right: 15px;
  }
  .activities-descrizione {
    font-size: 12px;
    padding: 6px 0px 0px 10px;
  }
  footer {
    order: 6;
    margin-top: 25px;
  }
  .contenuto-footer {
    margin: 14px 25px;
  }

  .descrizione {
    height: fit-content;
    line-height: 1.3;
    margin-bottom: 22px;
  }
}
